  <footer>
    <p>	© 2021 QuickApp - Lighthouse Labs | Webdesign by Omar, Gabriel & Zac</p>
  </footer>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>
