:root{
  --darkgray: #393a39;
  --darkblue: #003049;
  --red: #D62828;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --offwhite: #EAE2B7;
  --white: #FFF;
}

.carousel-item{
	max-height: 50vh;
}
.carousel-item img{
	min-height: 300px;
	max-height: 100vh;
}

