:root{
  --darkgray: #393a39;
  --darkblue: #003049;
  --red: #D62828;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --offwhite: #EAE2B7;
  --white: #FFF;
}
.card:hover {
  box-shadow: 0px;
}
.card-header{
  background-color: var(--orange);
  color: var(--white);
}
.placeOrder {
  color: var(--orange);
  border: 1px solid var(--orange);
}
.placeOrder:hover {
  background-color: var(--orange);
  border: none;
}
