:root{
  --darkgray: #393a39;
  --darkblue: #003049;
  --red: #D62828;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --offwhite: #EAE2B7;
  --white: #FFF;
}
.card{
  margin: 20px auto;
  padding: 10px;
  border: 0;
  width: 18rem;
}
.card-footer{
  display: flex;
  text-align: right;
  justify-content: left;
}
.card-footer a{
  text-decoration: none;
  color: var(--red);
  width: 80%;
}
.card-footer a:hover{
  text-decoration: none;
  color: var(--orange);
}
